
html {
    background-image: url(images/green-wallpaper-1.jpg) ;
    background-position: auto;
    background-size: cover;
    
}

/* first page -->*/

nav {
    display: flex;
    
    background-color: #192f00;

    padding-block: 2%;
    
    margin-left: auto;
    margin-right: auto;
    margin-top: -8px;
    
    max-height: 30px;
    max-width: 1200px;
    min-width: 500px;
    height: 83px;
    width: 70%;

    padding:24px 0 24px;
    
    text-align: right;
}

#comp_logo  {
    
    box-sizing: border-box;

    display: flex;
    width: 79px;
    height: 79px;

    margin-top: -25px;
}

nav ul {
    display: flex;
    list-style: none;
    justify-content: space-evenly;

    
    font-family: Impact, 'Oswald', 'Arial Narrow Bold', 'Courier New', Courier, monospace, sans-serif;
    font-size: x-large;
    width: 40%;
    margin: auto;

    margin-right: 50px;
}


a { 
    margin-right: 10px;
    text-decoration: none;
    padding: 3px;
    padding-left: 5px ;
    padding-right: 10px;
    color: black;
    border-style: solid;
    border-radius: 4px;
    background-color: #cccccc;
}

nav a {
    margin-right: 5% ;
}

a:hover {
    color: #3f6424;
    outline: #203902;
    border-color: rgba(0, 0, 0, 0.697);
}


main {
    width: 70%;
    max-width: 1200px;
    min-width: 500px;
    
    display: flex;

    background-color: hsla(87, 93%, 12%, 0.80);
    
    background-position: auto;
    background-size: cover;

    margin: auto;
}

.center {
    justify-content: space-evenly;

    margin-left: auto;
    margin-right: auto;
    width: 50%;

    text-align: center;
}

main section {
    width: 90%;
    max-width: 1200px;
    min-width: 450px;

    height: 90%;

    font-family: 'Courier New', Courier, monospace;

    margin: auto;
}

#gogreen {
    
    font-family: 'Contrail One', sans-serif;
    
    color: #55a202;
    text-shadow: 0px 0px 4px #000000;

    font-size: xx-large;
    margin: auto;
    margin-top: 15%;
    margin-bottom: 5%;
}

section img {
    padding-bottom: 20%;
    margin:0 auto;
    
    width: 70%;

    min-width: 0;

}

footer {
    max-width: 1200px;
    min-width: 580px;
    height: 83px;
    width: 70%;
    margin:auto;

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
    margin-bottom: 10%;
    margin-top: -18px;

    text-align: center;
    font-size: large;

    background-color: hsla(hsla(87, 93%, 12%, 0.80));
    background-image: linear-gradient(to bottom, hsla(87, 93%, 12%, 0.80), hsla(87, 93%, 12%, 0.0));
}

footer p {
    padding-top: 1%;
    margin-left: 10px;
    margin-right: 10px;
}


/* products page --> */
.spanded {
    width: 100%;
    display: flex;
    margin: 2%;
    flex-wrap: wrap;


}

#head {
    display: flex;
    flex-wrap: wrap;
    
    margin: auto;
    margin-left: auto;
    margin-right: auto;

    width: 90%;

    border-radius: 1px;
    border: solid;

    background-color: #192f0077;
}

#head p {
    height: fit-content;
    text-align: center;
    text-shadow: 0px 1px 1px #69b716;
    padding: 5px;

    font-family: 'Sometype Mono', 'Courier New', Courier, monospace;
    color: white;
}

#head img {

    width: 100%;
}

.desc_up {
    font-style: italic;
    font-family: 'Courier New', Courier, monospace;
    color: gray;
    text-shadow: 0px 1px 1px #69b7169e;
    
    margin-top: auto;
    margin-bottom: auto;
    text-align: left;
    margin-left: 5%;
}

.desc_un {
    margin: auto;
    margin-top: auto;
    margin-bottom: auto;;

    color: gray;
    text-shadow: 0px 1px 1px #69b7169e;

    font-style: italic;
    font-family: 'Courier New', Courier, monospace;

}

.products {
    margin: auto;
    padding: 0;

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
}

.products li {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

    margin: 10px ;

    min-width: min-content;
    min-height: auto; 

    padding: 0;
    width: 33%;

    max-width: 280px;

    border: outset;
    border-radius: 2px;
    border-color: #85c91c14;

    background-color: #192f0077;

    text-align: center;
}

.products li img {
    object-fit: cover;
    width: 90%;

    margin:auto;
    margin-top: 2%;
    margin-bottom: 0%;

    flex-direction: row;
    flex-wrap: wrap;

    max-width: 260px;
}

.products li p {
    display: flex;
    flex-wrap: wrap;
    
    font-family: 'Sometype Mono', 'Courier New', Courier, monospace;

    text-decoration: none;
    text-align: center;
    text-shadow: 0px 1px 1px #69b716;
    
    color: white;
    width: 90%;
    
    margin: auto;
    margin-top: 0;
    margin-bottom: 10px;
}



/* Contacts --> */

.contact {
    
    width: 100%;
    display: flex;
    text-decoration: none;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    flex-wrap: wrap;
    flex-direction: row;
}

.contact a {
    text-decoration: none;
    border-style: none;
    border-radius: 0;
    background-color: rgba(178, 34, 34, 0);
    color: #2dff0f;
}

.contact a:hover {
    text-decoration: underline;
    text-shadow: 0px 3px 3px #69b716;
}

.contact li {
    padding-left: 2%;
    padding-right: 2%;
    margin-right: 1em;

    text-shadow: 0px 1px 1px #69b716;
    
    background-color: #192f00;
    color:#50cf09;
}

.contact_general .contact ul {
    list-style-type: none;
    margin-left: 4%;
    margin-right: 4% ;

}

.contact img {
    margin: auto;
    margin-top: 20px;
    margin-bottom: 100px;
    
    width: 500px;
    max-width: 100%;
}

#contact_foot {
    margin-top: 0%;
    height: 4em;
    min-width: 500px;
}