
html {
    background-color: aliceblue;
}

nav {
    display: flex;
    
    background-color: darkslategrey;

    padding-block: 2%;
    
    margin-left: auto;
    margin-right: auto;
    margin-top: -8px;
    
    max-height: 30px;
    max-width: 1200px;
    min-width: 450px;
    height: 83px;
    width: 70%;

    padding:24px 0 24px;
    
    text-align: right;


}

#comp_logo  {
    
    box-sizing: border-box;

    display: flex;
    width: 79px;
    height: 79px;

    margin-top: -25px;
}

nav ul {
    display: flex;

    list-style: none;
    justify-content: space-evenly;

    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: x-large;

    width: 50%;
    margin: auto;
    margin-right: 10px
}

li:hover {
    background-color: rgb(192, 158, 116);
    text-shadow: 2em;
}


main {
    /**/
    width: 70%;
    max-width: 1200px;
    min-width: 450px;

    background-image: url(images/green-wallpaper-1.jpg) ;
    background-position: auto;

    margin: auto;

}

#center {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

main section {
    width: 70%;

    min-width: inherit;
    max-width: inherit;

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    margin: auto;
}
