# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
C:\Users\Obamaprism\VSC Projects\Software_2\JavaScript\block_4\js_5 example\

